@model WorkingWithSQL.Models.Store
@{
    ViewData["Title"] = "Store";
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
</div>
<hr/>
<div>
    <p>Address: @Model.Address - @Model.Pin</p>
    <p>Phone: @Model.Phone</p>
    <p>Email: @Model.Email</p>
</div>
<hr>
<div>
    <a class="btn btn-outline-primary"
       asp-controller="Stores"
       asp-action="Update"
       asp-route-id="@Model.Id"
    >
        Edit
    </a>
    <a class="btn btn-outline-danger"
       asp-controller="Stores"
       asp-action="Delete"
       asp-route-id="@Model.Id"
    >
        Delete
    </a>
</div>